.TweetInput {
  &_form {
    margin: 40px;
    position: relative;
    display: flex;
  }
  &_avatar {
    cursor: pointer;
    margin-top: 2px;
  }
  &_input {
    margin-left: 40px;
    width: 90%;
    background-color: #e1e1e1;
    padding: 15px;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #333333;
    font-size: 18px;
  }
  &_addIcon {
    cursor: pointer;
    color: white;
  }
  &_addIconLoaded {
    cursor: pointer;
    color: dimgray;
  }
  &_hiddenIcon {
    display: none;
  }
  &_sendBtn {
    background-color: #00bfff !important;
    border: none !important;
    color: white !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    border-radius: 20px !important;
    width: 80px;
    height: 40px !important;
    margin-left: 80% !important;
  }
  &_sendDisableBtn {
    background-color: gray !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-left: 80% !important;
    cursor: none !important;
  }
}
